@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  /* --clr-primary1: rgba(237, 237, 237, 0.9); */
  --clr-primary1: #EDEDED;
  --clr-primary2:#481F04;
  --font-family:'Poppins';
  --font-style: normal;
  --font-weight: 500;
  --font-weight2: 600;
  --font-weight3: 900;
  
}

